@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

.chip-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 16px;

  .chip {
    border: 1px solid $primary-color;
    border-radius: 4px;
    color: $primary-color;
    font-size: 14px;
    pointer-events: none;
    padding: 4px 8px;
  }
}